/* Styles par défaut pour les grands écrans */
.project-container {
    display: flex;
    width: 97%;
    background-color: #333;
    color: white;
    margin: 0 auto 20px auto;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .project-container:hover {
    transform: scale(1.02);
  }
  
  .project-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .project-details {
    flex-grow: 1;
    padding: 20px;
  }
  
  .project-details h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .project-details p {
    margin-bottom: 10px;
  }
  
  .project-details a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .project-details a:hover {
    color: #76ff03;
  }
  
  @media (max-width: 700px) {
    .project-container {
      flex-direction: column; /* Disposer les éléments en colonne */
      width: 100%; /* Utiliser toute la largeur disponible */
    }
  
    .project-image {
      width: 100%; /* Utiliser toute la largeur disponible */
      height: auto; /* Ajuster la hauteur automatiquement pour maintenir le ratio */
      margin: 0; /* Supprimer la marge droite */
    }
  
    .project-details {
      padding: 15px; /* Réduire le padding pour les petits écrans */
    }
  
    .project-details h3 {
      font-size: 1.2rem; /* Réduire la taille de la police */
    }
  
    .project-details p {
      font-size: 0.9rem; /* Réduire la taille de la police */
    }
  
    .project-details a {
      font-size: 0.9rem; /* Réduire la taille de la police */
    }
  }
  